<% layout('layouts/boilerplate') %>

    <h1 class="text-center">Edit your campground</h1>
    <div class="col-md-6 offset-md-3">

        <form action="/campgrounds/<%= campground.id %>/edit" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Name</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Name"
                    value="<%= campground.title %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="number" name="price" id="price" placeholder="Price"
                    value="<%= campground.price %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" name="description" id="description" placeholder="Description"
                    value="<%= campground.description %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Location"
                    value="<%= campground.location %>">
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <label class="input-group-text" for="image">select images</label>
            </div>
            <div class="mb-3">
                <% if (Array.isArray(campground.image)) { %>
                    <% campground.image.forEach(function(image, i) { %>
                        <img src="<%= image %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="" id="image-<%=i%>">
                            <label for="image-<%=i%>">Delete this Image?</label>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <% try { %>
                                    <% const images=JSON.parse(campground.image); %>
                                        <% images.forEach(function(image, i) { %>
                                            <img src="<%= image %>" class="img-thumbnail" alt="">
                                            <div class="form-check-inline">
                                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=campground.id_image%>>
                                                <label for=" image-<%=i%>">Delete this Image?</label>
                                            </div>
                                            <% }); %>
                                                <% } catch (error) { %>
                                                    <p>Error parsing image data</p>
                                                    <% } %>
                                                        <% } %>
            </div>

            <button class="btn btn-success mb-2">submit</button>
        </form>
        <a class="btn btn-danger" href="/campgrounds">Cancel</a>
    </div>
    </div>